RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]


# SetEnvIf Origin "^http(s)?://(.+\.)?(fi\-mi\.com|api\.fi\-mi\.com|127\.0\.0\.1)$" origin_is=$0 
# Header always set Access-Control-Allow-Origin %{origin_is}e env=origin_is


# Header always set Access-Control-Allow-Origin "*"

# Header set Access-Control-Allow-Headers "origin, x-requested-with, content-type"
# Header set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"